In [6]:
import pandas as pd


df = pd.read_csv('/content/house_prices.csv')
print(df.describe())

               Index  Price (in rupees)  Dimensions  Plot Area
count  187531.000000       1.698660e+05         0.0        0.0
mean    93765.000000       7.583772e+03         NaN        NaN
std     54135.681003       2.724171e+04         NaN        NaN
min         0.000000       0.000000e+00         NaN        NaN
25%     46882.500000       4.297000e+03         NaN        NaN
50%     93765.000000       6.034000e+03         NaN        NaN
75%    140647.500000       9.450000e+03         NaN        NaN
max    187530.000000       6.700000e+06         NaN        NaN

In [5]:
import pandas as pd


df = pd.read_csv('/content/house_prices.csv')
print(df.info(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Society            77853 non-null   object
 14  Bathroom           186703 non-null  object
 15  Balcony            138596 non-null  object
 16  Car Parking        84174 non-null   object
 17  Ownership          122014 non-null  object
 18  Super Area         79846 non-null   object
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), object(17)
memory usage: 30.0+ MB
None

In [3]:
import pandas as pd


df = pd.read_csv('/content/house_prices.csv')
print(df.head(10))

   Index                                              Title  \
0      0  1 BHK Ready to Occupy Flat for sale in Srushti...
1      1  2 BHK Ready to Occupy Flat for sale in Dosti V...
2      2  2 BHK Ready to Occupy Flat for sale in Sunrise...
3      3        1 BHK Ready to Occupy Flat for sale Kasheli
4      4  2 BHK Ready to Occupy Flat for sale in TenX Ha...
5      5  1 BHK Ready to Occupy Flat for sale in Virat A...
6      6         1 BHK Ready to Occupy Flat for sale Mumbra
7      7          1 BHK Ready to Occupy Flat for sale Kalwa
8      8          1 BHK Ready to Occupy Flat for sale Kalwa
9      9  3 BHK Ready to Occupy Flat for sale in Pride P...

                                         Description Amount(in rupees)  \
0  Bhiwandi, Thane has an attractive 1 BHK Flat f...           42 Lac
1  One can find this stunning 2 BHK flat for sale...           98 Lac
2  Up for immediate sale is a 2 BHK apartment in ...          1.40 Cr
3  This beautiful 1 BHK Flat is available for sal...           25 Lac
4  This lovely 2 BHK Flat in Pokhran Road, Thane ...          1.60 Cr
5  Creatively planned and constructed is a 1 BHK ...           45 Lac
6  This magnificent 1 BHK Flat is available for s...         16.5 Lac
7  Creatively planned and constructed is a 1 BHK ...           60 Lac
8  Discover this immaculate 1 BHK flat for sale a...           60 Lac
9  One can find this stunning 3 BHK flat for sale...          1.60 Cr

   Price (in rupees) location Carpet Area         Status            Floor  \
0             6000.0    thane    500 sqft  Ready to Move     10 out of 11
1            13799.0    thane    473 sqft  Ready to Move      3 out of 22
2            17500.0    thane    779 sqft  Ready to Move     10 out of 29
3                NaN    thane    530 sqft  Ready to Move       1 out of 3
4            18824.0    thane    635 sqft  Ready to Move     20 out of 42
5             6618.0    thane         NaN  Ready to Move       2 out of 7
6             2538.0    thane    550 sqft  Ready to Move       4 out of 5
7            10435.0    thane         NaN  Ready to Move  Ground out of 7
8            10000.0    thane         NaN  Ready to Move  Ground out of 2
9            11150.0    thane    900 sqft  Ready to Move      3 out of 27

  Transaction  ... facing             overlooking  \
0      Resale  ...    NaN                     NaN
1      Resale  ...   East             Garden/Park
2      Resale  ...   East             Garden/Park
3      Resale  ...    NaN                     NaN
4      Resale  ...   West  Garden/Park, Main Road
5      Resale  ...   East  Garden/Park, Main Road
6      Resale  ...    NaN                     NaN
7      Resale  ...    NaN                     NaN
8      Resale  ...    NaN                     NaN
9      Resale  ...   East             Garden/Park

                               Society Bathroom Balcony Car Parking  \
0  Srushti Siddhi Mangal Murti Complex        1       2         NaN
1                          Dosti Vihar        2     NaN      1 Open
2                 Sunrise by Kalpataru        2     NaN   1 Covered
3                                  NaN        1       1         NaN
4          TenX Habitat Raymond Realty        2     NaN   1 Covered
5                         Virat Aangan        1       1         NaN
6                                  NaN        1     NaN         NaN
7                                  NaN        1     NaN         NaN
8                                  NaN        1     NaN         NaN
9                          Pride Palms        3       1   1 Covered

              Ownership Super Area Dimensions  Plot Area
0                   NaN        NaN        NaN        NaN
1              Freehold        NaN        NaN        NaN
2              Freehold        NaN        NaN        NaN
3                   NaN        NaN        NaN        NaN
4  Co-operative Society        NaN        NaN        NaN
5  Co-operative Society   680 sqft        NaN        NaN
6                   NaN        NaN        NaN        NaN
7                   NaN   575 sqft        NaN        NaN
8  Co-operative Society   600 sqft        NaN        NaN
9              Freehold        NaN        NaN        NaN

[10 rows x 21 columns]

In [2]:
import pandas as pd


df = pd.read_csv('/content/house_prices.csv')
df.head()  # Display the first few rows

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN